<template>
    <div class="c-header">
        <div class="c-header__left-holder">
            <div class="c-header__left-holder-logo">
                <img src="/img/header/logo.png" alt="logo">
                <p>CTG Blockchain GmbH</p>
                <p style="color: aliceblue">{{ $t("message.hello") }}</p>
            </div>
            <div class="c-header__left-holder-nav">
                <nav>
                    <ul>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Roadmap</a></li>
                        <li><a href="#">Портфолио</a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</template>

<script>
 export default {
  name: "Header"
 }
</script>

<style lang="scss">
    .c-header {
        background-color: black;
    }
</style>
