<template>
    <div id="app">
        <Header/>
    </div>
</template>

<script>

 import Header from "./components/Header";
 import Vue from 'vue'
 import VueI18n from 'vue-i18n'

 Vue.use(VueI18n);

 export default {
  name: 'App',
  components: {
   Header
  }
 }
</script>

<style lang="scss">
    * {
      margin: 0;
      padding: 0;
      transition: all .3s;
    }
</style>
